body {
  font-family: Sans-Serif;
  width: 980px;
  margin: 0 auto;
}

.container {
  padding: 10px;
  margin: 10px;
}

.header-container {
  padding: 10px;
  margin: 10px;
  background-color: olivedrab;
}

.content-container {
  padding: 20px;
  margin: 10px;
  background-color: orange;
}
