.container {
  padding: 10px;
  margin: 10px;
  border: solid black;
}

.header-container {
  padding: 10px;
  margin: 10px;
  background-color: olivedrab;
}

.content-container {
  padding: 20px;
  margin: 10px;
  background-color: orange;
}
